# Example config file with all config directives and their default
# values. 

# De-/Activate Modules of marmoset if you don't need them
[Modules]
PXE: True
VM: True

[Webserver]
# Settings for HTTP Basic Auth
Username: admin
Password: secret
BasicRealm: marmoset
# IP address or hostname and port to bind to
Host: 127.0.0.1
Port: 5000
# Domain that is used by clients to address the server. It is used to
# build absolute urls. If unset, it defaults to 'localhost'.
# take a look here about the syntax: http://stackoverflow.com/a/23312820
ServerName:
Debug: False

[Libvirt]
URI: qemu:///system
# If you want to provide your own XML templates for domain creation,
# put them in a dir and set the path here. See the default templates
# in marmoset/virt/templates for a start.
XMLTemplateDirectory: 
# Name of the libvirt network to connect the domain interfaces to if
# no network name is given on creation.
Network:
# Name of the storage pool a storage volume is created in, if no
# storage name is given.
Storage: 

[PXEConfig]
ConfigDirectory: /srv/tftp/pxelinux.cfg/

# The PXELabel section has no defaults, as its entries depend on
# the PXE configuration. The syntax is `label: callbackmethod`.
# If the entry doesn't need any callback, just let callbackmethod
# blank.
#
#[PXELabel]
#rescue: setpwhash
#freebsd: createpwhashfile
#openbsd:

