[Unit]
Description=marmoset API
After=network.target

[Service]
ExecStart=/opt/marmoset/marmoset.py server
User=marmoset
Group=marmoset
PrivateTmp=true
